<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            padding: 100px;
            background: black;
            color: #333;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h1 {
            font-size: 5rem;
            margin-bottom: 0;
        }
        
        h2 {
            margin-top: 0;
            font-weight: normal;
            color:white;
        }

        p{
            margin-top: 0;
            color: gray;
        }

        a {
            margin-top: 1rem;
            width: fit-content;
            height: fit-content;
            text-decoration: none;
            color: #fff;
            background: #007BFF;
            padding: 12px;
            border-radius: 5px;

        }
        a:hover {
            font-size:17px;
            background:rgb(37, 35, 35);
            transition: 0.3s;
            color: rgb(153, 255, 0);
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <h2>Oops! Page Not Found</h2>
    <p>The page you're looking for doesn't exist.</p>
    <a href="/">Go Home</a>
</body>
</html>
