html,body{
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
}

.header
{
    color: greenyellow;
    font-size: 10px;
    position: relative;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(27, 28, 29);
    box-shadow: 0 2px 2px 0.5px greenyellow ;
}

.header>:nth-child(2){
    margin-left: auto;
    margin-right: 3rem;
}

.header>:nth-child(3){
    margin-right: 2rem;
}
.header>:last-child{
    margin-right: 2rem;
}

.header>:first-child{
    margin-left: 2rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 5rem;
}

.content{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px;
    flex-grow: 1;
}

.messages{
    background-color: rgb(37, 36, 36);
    position: relative;
    height: fit-content;
    padding: 2rem;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: transform 0.2s;
}

.headerfour{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.messages:hover{
    transform: scale(1.05);
}

.usermsg{
    margin: 40px;
    background-color: black;
}

.memberCheck{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.check{
    height: 20px;
    width: 20px;
    filter: invert(70%) sepia(50%) saturate(500%) hue-rotate(90deg);
}

.logout{
    all: unset;
    font-size: 15px;
    font-weight: 600;
}

.logout:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.newMessageDiv{
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    align-items: center;
    margin-top: 3rem;
}

#newMessage{
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background-color: greenyellow;
}

h2{
    color: greenyellow;
}

#newMessage:hover{
    background-color: rgb(27, 236, 48);
}

.overlayOpacity{
    display: block;
    opacity: 0.3;
}

#messageForm{
    color: black;
    font-weight: 600;
    gap: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40%;
    width: 20%;
    background-color: rgb(191, 184, 184);
    border-radius: 20px;
}

#messageForm input{
    height: 25px;
    width: 80%;
    margin-bottom: 2rem;
}

textarea{
    width: 80%;
    max-width: 100%;
    
}

.visible{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden{
    display: none;
}


.deleteBtn{
    margin-top: 2rem;
    width: 5rem;
    height: 2rem;
    background-color: red;
    color: black;
    border-radius: 20px;
}

.deleteBtn:hover{
    background-color: black;
    color: white;
}
